.pokemon-card {
  font-size: 2rem;
}

.outline {
  border: 1px solid black;
  padding: 1rem;
}

.pokemon-header {
  display: flex;
  justify-content: center;
  align-items: center;
	height: auto;
	width: auto;
}

.pokemon-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.pokemon-image {
  width: auto;
  height: auto;
}

.pokemon-button {
  margin-top: 1rem;
}

.pokemon-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
