@if (pokemon | async; as pokemon) {
	<div class="pokemon-card">
		<div class="outline">
			@if (pokemon.frontDefaultUrl) {
				<!-- TODO: centralize picture dimensions handles -->
				<div class="pokemon-image-container">
					<img [src]="pokemon.frontDefaultUrl" [alt]="pokemon.name" width="96" height="96" class="pokemon-image" />
				</div>
			}

			@if (pokemon) {
				<div class="pokemon-header">
					<span>{{ pokemon.name }}</span>
					<span>#{{ pokemon.id }}</span>
				</div>
			}
		</div>
	</div>
} @else {
	<div>Loading...</div>
}
